<article>
  <section>
    <div class="show_info">
      <div class="show_left">
        <% if @morning_menu.morning_image.attached? %>
          <%= image_tag @morning_menu.morning_image, alt:"#{@morning_menu.name}", class:"show_img" %>
        <% end %>
      </div>
      <div class="show_right">
        <div class="show_txt">
          <p class="menu_price"><%= @morning_menu.name %></p>
          <p>&#xffe5;<%= @morning_menu.price %></p>
          <p><%= @morning_menu.commitment %></p>
          <p>アレルギー：<%= @morning_menu.allergy %></p>
          <% if logged_in? && logged_in_as?(@user) %>
            <p><%= link_to "edit", edit_morning_menu_path(@morning_menu), class:"red" %></p>
            <p><%= link_to "delete", morning_menu_path(@morning_menu), method: :delete, class:"red" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</article>
