<article>
  <section id="home_first">
  </section>
  <section id="home_about">
    <h2>ABOUT&nbsp;US</h2>
    <p>kuraru caffe くらるカフェです。東大阪にある古民家、蔵をリノベーションしたカフェ。</p>
    <p>コンセプトは、体は食べたもので出来ている。オーガニックフード中心のカフェ。イベントもたくさん実施してます。</p>
    <%= link_to "Kuraru Caffeについて", about_path, class:"button_r" %>
  </section>
  <section id="home_menu">
    <h2>MENU</h2>
    <%= image_tag("home_menu1.jpeg", alt:"menu ") %>
    <%= image_tag("home_menu2.jpeg", alt:"menu ") %>
    <%= image_tag("home_menu3.jpeg", alt:"menu ") %>
    <%= link_to "MENU一覧へ", menu_path, class:"button_r" %>
  </section>
  <section id="home_access_box">
    <h2>ACCESS</h2>
    <div>
      <div class="access_info">
        <p class="access_info_bg">住所</p>
        <p class="access_info_txt">〒5770816 大阪府東大阪市友井4-1-13</p>
      </div>
      <div class="access_info">
        <p class="access_info_bg">電話番号</p>
        <p class="access_info_txt">06-7713-0045</p>
      </div>
      <div class="access_info">
        <p class="access_info_bg">営業時間</p>
        <p class="access_info_txt">9時30分～18時00分</p>
        <p class="access_info_txt">定休日&nbsp;:&nbsp;毎週日・月曜日</p>
      </div>
      <div class="access_info">
        <p class="access_info_bg">最寄駅</p>
        <p class="access_info_txt">JR西日本&nbsp;学研都市線&nbsp;八戸ノ里</p>
      </div>
      <div class="access_info">
        <p class="access_info_bg">設備・サービス</p>
        <p class="access_info_txt">&#9679;席数：店内&nbsp;:&nbsp;56席、テラス28席</p>
        <p class="access_info_txt">&#9679;17時まではテラス席のみ17時以降は2階席とテラス席のみ</p>
        <p class="access_info_txt">&#9679;駐車場割引&nbsp;:&nbsp;1時間（400円分）無料（&#8251;カフェスタッフに駐車券をご提示ください）</p>
      </div>
    </div>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.497728895906!2d135.58793509999998!3d34.64213100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000df6e5bce317d%3A0x388c180d82221f1d!2z44CSNTc3LTA4MTYg5aSn6Ziq5bqc5p2x5aSn6Ziq5biC5Y-L5LqV77yU5LiB55uu77yR4oiS77yR77yT!5e0!3m2!1sja!2sjp!4v1579256651330!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;"></iframe>
    </div>
  </section>
  <section id="home_information">
    <%= link_to "レンタルのご予約", rental_path, class:"button_c" %>
    <%= link_to "ご予約・お問い合わせ", contact_path, class:"button_c" %>
  </section>
</article>
