<% provide(:title, "Menu") %>
<article id="menu">
  <section id="menu_first">
  </section>
  <section>
    <h2>MENU</h2>
    <p>オーガニックフードを中心としたメニューをご提供いたします。</p>
  </section>
  <section>
    <h2>MORNING&nbsp;MENU</h2>
    <div id="home_images">
      <%= image_tag("home_menu1.jpg", alt:"menu", class:"menu_img") %>
      <%= image_tag("home_menu2.jpg", alt:"menu", class:"menu_img") %>
      <%= image_tag("home_menu3.jpg", alt:"menu", class:"menu_img") %>
    </div>
  </section>
  <section>
    <h2>LUNCH&nbsp;MENU</h2>
    <div id="home_images">
      <%= image_tag("home_menu1.jpg", alt:"menu", class:"menu_img") %>
      <%= image_tag("home_menu2.jpg", alt:"menu", class:"menu_img") %>
      <%= image_tag("home_menu3.jpg", alt:"menu", class:"menu_img") %>
    </div>
  </section>
  <section>
    <h2>SWEETS&nbsp;MENU</h2>
    <div id="home_images">
      <%= image_tag("home_menu1.jpg", alt:"menu", class:"menu_img") %>
      <%= image_tag("home_menu2.jpg", alt:"menu", class:"menu_img") %>
      <%= image_tag("home_menu3.jpg", alt:"menu", class:"menu_img") %>
    </div>
  </section>
  <section>
    <h2>DRINK&nbsp;MENU</h2>
    <div id="home_images">
      <%= image_tag("home_menu1.jpg", alt:"menu", class:"menu_img") %>
      <%= image_tag("home_menu2.jpg", alt:"menu", class:"menu_img") %>
      <%= image_tag("home_menu3.jpg", alt:"menu", class:"menu_img") %>
    </div>
  </section>
 </article>
