<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<%= form_with model: @menu, local: true  do |form| %>
  <p>name</p>
  <%= form.text_area :name %><br>
  <p>image</p>
  <%= form.file_field :image %><br>
  <p>price</p>
  <%= form.text_area :price %><br>
  <p>commitment</p>
  <%= form.text_area :commitment %><br>
  <p>allergy</p>
  <%= form.text_area :allergy %><br>

  <%= form.submit %>
<% end %>
