<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<% if @menu.image.attached? %>
  <%= image_tag @menu.image %>
<% end %>
<p><%= @menu.name %></p>
<p><%= @menu.price %></p>
<p><%= @menu.commitment %></p>
<p><%= @menu.allergy %></p>
