<% provide(:title, "Menu") %>
<article>
  <section id="menus_first" class="first">
  </section>
  <section>
    <h2>MORNING&nbsp;MENU</h2>
    <div class="images">
      <% @morning_menus.each do |mm| %>
        <% if mm.morning_image.attached? %>
          <%= link_to image_tag(mm.morning_image, alt:"menu", class:"menu_img"), morning_menu_path(mm) %>
        <% end %>
      <% end %>
    </div>
  </section>
  <section>
    <h2>LUNCH&nbsp;MENU</h2>
    <div class="images">
      <% @lunch_menus.each do |lm| %>
        <% if lm.lunch_image.attached? %>
          <%= link_to image_tag(lm.lunch_image, alt:"menu", class:"menu_img"), lunch_menu_path(lm) %>
        <% end %>
      <% end %>
    </div>
  </section>
  <section>
    <h2>SWEET&nbsp;MENU</h2>
    <div class="images">
      <% @sweet_menus.each do |sm| %>
        <% if sm.sweet_image.attached? %>
          <%= link_to image_tag(sm.sweet_image, alt:"menu", class:"menu_img"), sweet_menu_path(sm) %>
        <% end %>
      <% end %>
    </div>
  </section>
  <section>
    <h2>DRINK&nbsp;MENU</h2>
    <div id="drink_menus">
      <% @drink_menus.each do |dm| %>
      <div class="drink_menu">
        <% if dm.drink_image.attached? %>
          <%= image_tag(dm.drink_image, alt:'drink', class: "drink_img") %>
        <% end %>
        <ul class="drink_info">
          <li class="drink_name"><%= dm.name %></li>
          <li class="drink_price">&#xffe5;<%= dm.price %></li>
          <li class="drink_txt"><%= dm.commitment %></li>
          <li class="drink_txt"><%= dm.allergy %></li>
          <% if logged_in? && logged_in_as?(@user) %>
            <li><%= link_to "edit", edit_drink_menu_path(dm) %></li>
            <li><%= link_to "delete", drink_menu_path(dm), method: :delete %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </section>
</article>
