<footer>
  <nav id="footer_nav">
    <ul id="footer_ul">
      <li><%= link_to "トップページ" , root_path %></li>
      <li><%= link_to "会社概要" , about_path %></li>
      <li><%= link_to "メニュー一覧" , menus_path %></li>
      <li><%= link_to "レンタル情報" , rental_path %></li>
      <li><%= link_to "イベント情報", "#" %></li>
      <li><%= link_to "お問い合わせ" ,"tel:06-7713-0045" %></li>
    </ul>
  </nav>
  <div id="footer_icon">
    <a href="https://twitter.com/x0snxwlpr1cxkxz" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/kurarucafe_official/?hl=tr" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <small>Copyright &copy; Kuraru Caffe All Rights Reserved.</small>
</footer>
