<header>
  <div class="container">

    <%= link_to "Kuraru Caffe", root_path, id: "logo" %>

    <nav id="header_nav">
      <ul id="header_ul">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "MENU", menus_path %></li>
        <li><%= link_to "RENTAL", rental_path %></li>
        <li><%= link_to "EVENT", rental_path %></li>
        <% if logged_in? %>
          <li><%= link_to "NEW", new_path %></li>
          <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>

    <div id="ham" class="ham">
      <span class="ham_line ham_line1"></span>
      <span class="ham_line ham_line2"></span>
      <span class="ham_line ham_line3"></span>
    </div>

    <div class="ham_menu_wrapper" id="ham_menu_wrapper">
      <div class="ham_menu">
        <ul>
          <li><%= link_to "HOME", root_path, class:"ham_link" %></li>
          <li><%= link_to "ABOUT", about_path, class:"ham_link" %></li>
          <li><%= link_to "MENU", menus_path, class:"ham_link" %></li>
          <li><%= link_to "RENTAL", rental_path, class:"ham_link" %></li>
          <li><%= link_to "EVENT", rental_path, class:"ham_link" %></li>
          <% if logged_in? %>
            <li><%= link_to "NEW", new_path, class:"ham_link" %></li>
            <li><%= link_to "LOGOUT", logout_path, method: :delete, class:"ham_link" %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</header>
