<header>
  <div class="container">
    <%= link_to "Kuraru Kafe", root_path, id: "logo" %>
    <nav id="header_nav">
      <ul id="header_ul">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "MENU", menu_path %></li>
        <li><%= link_to "RENTAL", rental_path %></li>
        <li><%= link_to "CONTACT", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
